body{
   margin: auto; 
   background-color: black;
}

.header{
    background-color: #F0E221;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 30%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.logo img{
    height: 100px;  
}

.logo p{
    width: fit-content;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
}

.nav{
    width: 60%;
    margin: auto;
}

.nav ul{
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

li a{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}

.banner{
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 16px;
    border-top: 5px solid black;
    height: 700px;
}

.banner img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.4;
}

.banner p{
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F0E221;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}